<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1" />
    <title>查帳小幫手</title>
    <script src="https://d.line-scdn.net/liff/1.0/sdk.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script>
        function print_value() {

            document.getElementById("result") = document.getElementById("number").value
        }
</script>
<script>
	function initializeApp(data) {  //初始化LIFF
        var userid = data.context.userId;
        var groupid = data.context.groupId; //取得ID
        document.getElementById('post_groupID').value = groupid;

	}
	function pushMsg() {

        liff.closeWindow();


	}

	$(document).ready(function () {
    
		liff.init(function (data) {  //初始化LIFF
            initializeApp(data);
		});
		
        $('#sure').click(function (e) {  //按下確定鈕
            
			pushMsg(); 
		});
	});
</script>

</head>
<body style="background-color:#FFEEDD;">


<div align="center">
    <br><img style="float: center" src="https://scontent-tpe1-1.xx.fbcdn.net/v/t1.0-9/118564250_3916210075072856_4538250581291362262_o.jpg?_nc_cat=102&_nc_sid=8024bb&_nc_ohc=pVO1LBE3Ud4AX_-Wo67&_nc_ht=scontent-tpe1-1.xx&oh=e5e38d055d796ff155cec63810e9dec8&oe=5F74AE54" alt="logo" width="110" height="110"/></br><p></p><h3>Welcome to</h3></p><h3><span style="background-color: #914c53; color: #ffffff;">Account Mastiff</span></h3>
    <br/>
    <p align="left" style="font-size:20px;"><strong>目前分帳清單：</strong></p>
    <table style="border:8px #FFD382 solid;" cellpadding="10" border='1'>
        <thead>
            <th>項目</th>
            <th>金額</th>
            <th>分帳人</th>
        </thead>
        <tbody>
            {% for _data in save_list %}
                <tr>
                    <td>{{ _data.message }}</td>
                    <td>{{ _data.account }}</td>
                    <td>{{ _data.group_num }}</td>
                </tr>
            {% endfor%}
        </tbody>
    </table>
    <br/>
    <p align="left" style="font-size:20px;"><strong>結算：</strong></p>
    {% for list in settle %}
    <p><strong>{{ list }}</strong></p>
    {% endfor %}
    <br/>
    <input type="button" name="ok" id="sure" value="關閉視窗"><br>
    <br/>
</div>
</body>
</html>

