<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1" />
    <title>查帳小幫手</title>
    <script src="https://d.line-scdn.net/liff/1.0/sdk.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script>
        function print_value() {

            document.getElementById("result") = document.getElementById("number").value
        }
</script>
<script>
	function initializeApp(data) {  //初始化LIFF
        var userid = data.context.userId;
        var groupid = data.context.groupId; //取得ID
        document.getElementById('post_groupID').value = groupid;

	}
	function closewin() {

        liff.closeWindow();


	}
    function pushMsg() {
        var msg = '刪除';
        liff.sendMessages([  //推播訊息
			{ type: 'text',
			  text: msg
			},
		])
			.then(() => {
			alert('已刪除所有資料');
            window.location.reload();
			});


    }

	$(document).ready(function () {
    
		liff.init(function (data) {  //初始化LIFF
            initializeApp(data);
		});
		
        $('#sure').click(function (e) {  //按下確定鈕
            
			closewin(); 
		});
        $('#delete').click(function (e) {  //按下確定鈕
            
			pushMsg(); 
		});
	});
</script>
<style>
body{
  background-color: #f3e4c2;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

}

li {
  float: left;
  justify-content:center;
}
</style>
</head>
<body>


<script type="text/javascript">
function divShow(){
document.getElementById("btnshow").style.display="block";
document.getElementById("btnhref").innerHTML ="隱藏清單";
document.getElementById("btnhref").href ="javascript:divhidden()";
}
function divhidden(){
document.getElementById("btnshow").style.display="none";
document.getElementById("btnhref").innerHTML ="展開清單";
document.getElementById("btnhref").href ="javascript:divShow()"; 
}
</script>

<div align="center">
<ul>
  <li><img src="https://imgur.com/JV8bflw.png" width=100px height=auto align=center></img></li>
  <li><h1 style="line-height:100px;"><strong>記錄分帳</strong></h1></li>
</ul>
    <p align="left" style="background-color:#fff8d9;font-size:20px;text-align: left;">
    <strong> &nbsp目前帳目</strong>
    <a href="javascript:divShow();" id="btnhref" class="btn-slide">展開清單</a>
    </p>
    <table width=82% style="border-collapse:collapse; border:2px #FFAF60 solid; display: none;" cellpadding="10" border='1' id="btnshow" >
        <thead align="center">
            <th>編號</th>
            <th>項目</th>
            <th>金額</th>
            <th>代墊/分帳者</th>
        </thead>
        <tbody>
            {% for _data in save_list %}
                <tr>
                    <td align="center">{{ _data.number }}</td>
                    <td>{{ _data.clearMessage }}</td>
                    <td>{{ _data.withcurr }}</td>
                    <td>{{ _data.payPeople }}</td>
                </tr>
            {% endfor%}
        </tbody>
    </table><br/>
    
    <p align="left" style="background-color:#fff8d9;font-size:20px;text-align: left;"><strong> &nbsp代墊與欠款統計：</strong></p>
    <!-- <p>說明：以現在匯率換算</p><br/> -->
    <p align="left">&nbsp群組分帳人</p>
    {% for list in showlist %}
    <p>{{ list }}</p>
    {% endfor %}
    <p align="left">&nbsp金額(NTD)
        <img src="{{ img }}" align="right" >
    </p>
    <p>分帳者</p>
    <p style="font-color: red"><strong>{{warning}}</strong></p>
    <br/>
    <p align="left" style="background-color:#fff8d9;font-size:20px;text-align: left;"><strong>&nbsp結算</strong></p>
     <!-- <p>說明：以現在匯率換算</p><br/> -->
    {% for list in settle %}
    <p>{{ list }}</p>
    {% endfor %}
    <br/>
    <p align="left" style="background-color:#fff8d9;font-size:20px;text-align: left;"><strong>&nbsp編輯</strong></p>
    <script>
        function deleteOption(list){
            var index=list.selectedIndex;
            var msg = 'delete';
            msg=msg+index;
        if(index>0){        
            liff.sendMessages([  
			{ type: 'text',
			  text: msg
			},
		])
        .then(() => {
			alert('已刪除該筆資料');
            window.location.reload();
			});
        }

            if (index>0)
                list.options[index]=null;

            else
                alert("無資料可以刪除！");
        }
        
        </script>
        
        <form>
        <select id=theList size=5>
            <option value='請選擇'>請選擇</option>
            {% for _data in save_list %}
            <option id="{{ _data.number }}" value="{{ _data.number }}">{{ _data.number }} {{ _data.message }} {{ _data.account }}</option>
            {% endfor %}

        </select>
        <br/><br/>
        <input type="button" value="刪除此筆資料" onclick="deleteOption(theList)"><br>
        </form>
        <br/>
        <input type="button" name="ok" id="delete" value="刪除所有資料"><br>
        <br/>
</div>
</body>
</html>

